<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="p12" class="org.fisco.bcos.channel.client.P12Manager"
		init-method="load">
		<property name="password" value="123456" />
		<property name="p12File"
			value="classpath:0xb93bb9276d97f5f75ea574965beab99f72310e45.p12" />
	</bean>
	
	<bean id="pem" class="org.fisco.bcos.channel.client.PEMManager"
		init-method="load">
		<property name="pemFile"
			value="classpath:0x83a37766067ea59eea78135b20a4afc251246e88.pem" />
	</bean>
</beans>
